body {margin: 0;}
header {height: 150px; background-color: black;}
	h1 { font-size: 26px; color:  #000000; font-family: kalam;letter-spacing:5px }
	h2 { font-size: 15px; color:  #dcbf8e; font-family: corbel; text-decoration : underline;}
	#logo { width: 100px; height: 100px; border-radius:50%; padding: 20px; }
	.titres {
  		display: flex;
  		justify-content: center;
  		flex-direction: column;
  		align-items: center; 
  		height: 150px;
  		margin-left: 25%;
  		line-height: 0px}
	.entête {
  		display: flex;
  		justify-content: left;
  		align-items: center; 
  		height: 150px;}
section {height: 400px; background: #ffffff url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3CTQl6KB7yeCT2cRvvTuGEhYEksW_RYdlXw&usqp=CAU);}
	#image {margin-left : 50px; margin-top : 50px; height: 300px;}
	a {margin-left : 50px; margin-top : 10px; font-size: 20px; color:  whitesmoke; font-family: sans-serif;}
	#p1 { margin : 25px; font-size: 20px; color:  whitesmoke; font-family: arial; text-align: justify;line-height : 30px}
	.block {
  		display: flex;
  		justify-content: left;
  		flex-direction: column;
  		align-items: center;}
	.ligne {
  		display: flex;
  		justify-content: center;
  		align-items: center;}
 footer {height: 60px; background-color: black;}
 	#p2 { margin: 0;border-top : 100px; padding-top: 10px; text-align: center; font-size: 10px; font-style : italic ;color:  whitesmoke; font-family: arial;}